.AuthPage {
  height: 100vh;
  width: 100%;
  background-color: yellow;
  display: flex;
}

/* ================= LEFT & RIGHT PANELS ================= */

.AuthPage-Left {
  width: 50%;
  background-color: var(--secondary-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.AuthPage-Left .AuthPage-Left-H {
  color: var(--secondary-red);
  font-size: var(--heading-two);
  font-weight: var(--Exbold-font-weight);
  line-height: var(--heading-line-height);
}

.AuthPage-Right {
  width: 50%;
  background: linear-gradient(
    to top,
    var(--secondary-red),
    var(--primary-black)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.AuthPage-Right h2 {
  color: var(--secondary-white);
  font-size: var(--heading-two);
  font-weight: var(--Exbold-font-weight);
  line-height: var(--heading-line-height);
  margin-bottom: 15px;
}

.AuthPage-Right p {
  color: var(--secondary-white);
  font-size: var(--default-p-size);
  line-height: var(--p-line-height);
}

.AuthPage-Right-btn {
  background-color: transparent;
  font-size: var(--default-p-size);
  border-radius: var(--border-radius3);
  width: fit-content;
  min-width: 180px;
  padding: 15px;
  outline: none;
  border: 2px solid var(--secondary-white);
  color: var(--secondary-white);
  margin-top: 20px;
  cursor: pointer;
}

.AuthPage-Right-btn:hover {
  color: var(--secondary-white);
  background-color: var(--primary-red);
}

/* ================= OWNER / DISPATCH SWITCH ================= */

.OwnerDispatch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-red);
  border-radius: 51px;
  color: var(--secondary-white);
  margin-top: 20px;
  cursor: pointer;
  font-size: var(--default-p-size);
}

.owner,
.dispatch {
  padding: 10px 15px;
}

.active-admin {
  background-color: var(--light-gray);
  border-radius: 50px;
  color: var(--primary-black);
  padding: 10px 35px;
}

/* ================= FORM LAYOUT ================= */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 80%;
  margin-top: 20px;
}

.verify-form,
.reset-form,
.forgot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.row {
  width: 100%;
}

.row.two {
  display: flex;
  gap: 20px;
}

/* ================= FIELD GROUP & ERRORS ================= */

.field-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-msg {
  width: 100%;
  text-align: left;
  margin-bottom: 3px;
  color: red;
  font-size: 11px;
}

/* ================= LOGIN INPUT STYLE ================= */

.inputs-area {
  display: flex;
  padding: 16px 14px;
  width: 100%;
  max-width: 420px;
  border-radius: 8px;
  background-color: var(--primary-gray);
  margin-top: 8px;
}

.inputs-area input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 10px;
  outline: none;
}

.inputs-area svg {
  color: var(--primary-black);
  font-size: 16px;
}

/* ================= REGISTER INPUT STYLE ================= */

.inputs-area2 {
  width: 100%;
  border-radius: 8px;
  background-color: var(--primary-gray);
  padding: 16px 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.inputs-area2 input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-left: 10px;
  font-size: 14px;
  outline: none;
}

.inputs-area2 svg {
  color: var(--primary-black);
  font-size: 16px;
}

.row.two .field-group select {
  width: 100%;
  background-color: var(--primary-gray);
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 16px 14px;
}

/* ================= BUTTON ================= */

.AuthPage-Submit-button {
  font-size: var(--default-p-size);
  border-radius: var(--border-radius3);
  width: 180px;
  padding: 15px;
  outline: none;
  border: none;
  color: var(--secondary-white);
  background-color: var(--secondary-red);
  cursor: pointer;
  font-weight: var(--bold-font-weight);
}

/* ================= FORGOT PASSWORD ================= */

.forget {
  color: var(--primary-black);
  font-size: var(--heading-four);
  font-weight: var(--bold-font-weight);
  cursor: pointer;
}
