.AccountsDashboard {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-gray);
  display: flex;
  flex-direction: column;
}
.custom-Tabs .links {
  background-color: var(--lightest-gray);
  width: 100%;
  padding: 0 20px;
  height: 50px;
  display: flex;
  gap: 20px;
}
.custom-Tabs .links button.active {
  background-color: var(--lightest-gray);
  border-bottom: 3px solid black;
  color: black;
  font-weight: 600;
  padding: 0;
}
.links {
  display: flex;
  gap: 20px;
  height: 50px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.links button {
  position: relative ;
  background-color: var(--primary-gray);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-red);
  border: none;
  padding: 5px 0;  
}
.subLinks {
  display: flex;
  gap: 0;
  width: 100%;
  background-color: var(--lighter-gray);
  padding-top: 6px;
  align-items: center;
  margin-bottom: 10px;
}

.subLinks button {
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
  padding: 8px 40px;
  margin-left: 60px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.subLinks button.active {
  background-color: var(--primary-gray);
  color: black;
}

.custom-Tabs .links button{
  background-color: var(--lightest-gray);
  padding: 0px;
}
.links button:last-child {
  border-right: none;
}
.links button.active {
  color: black;
  font-weight: 600;
}
.tabContent {
  min-height: calc(100vh - 60px);
}
