 
  :root{
  --primary-red: #A10020;
  --secondary-red: #BB0025;
  --primary-white: #E8E8E8;
  --secondary-white: #FFFFFF;
  --primary-black: #000000;
  --secondary-black: #1D1D28;
  --secondary-blue: #272736;
  /* --secondary-gray: #1D1B20; */
  --secondary-gray: #CDCDCD;
  --primary-gray:#EAEAEA;
  --touch-gray:#9F9F9F;
  --lightest-gray:#bcbcbc;
  --lighter-gray:#cacaca;
  --primary-green: #1B880D;
  --primary-yellow: #EA9800;
  --secondary-yellow: #E1A325;
  --light-gray: #DBDBDB;
  --light-graynish:#B2B2B2;
  --dark-graynish: #363636;
  --dark-gray:#9F9F9F;
  --light-black: #5B5B5B;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-gray);  
  overflow-y: hidden;
  height: 100vh;
}
.main-sidebar-area{
  height: 101vh;
}

.app-container {
  display: flex;
 
}

.main-sub-area{
  display: flex;
  height: calc(100vh - 78px);
}
header {
  height: 80px;  
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--secondary-white);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.app-layouts {
    width: 94%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

 
.left-sides {
  display: flex;  
  width: 15%; 
  flex-shrink: 0;  
  background: var(--secondary-white); 
  overflow-y: auto; 
}

.sub-sidebar-area {
  width:60%;
  flex-grow: 1;  
  flex-shrink: 0;
}

.right-sides {
  width: 70%;  
  display: flex;
  flex-direction: column;
  flex: 1; 
  padding: 10px  14px; 
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--primary-gray);  
}
 
.booking-dispatch-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.booking-section,
.dispatch-section {
  border-radius: 10px;
  flex: 1 1 48%;
  min-width: 400px;
  padding: 15px;
}

@media (max-width: 1200px) {
  .app-layouts {
    flex-direction: column;
  }
  
  .left-sides {
    position: relative;  
    top: 0;
    width: 100%; 
    height: auto;  
    overflow-x: auto;  
    border-bottom: 1px solid var(--primary-gray);
  }

  
  .main-sidebar-area {
    width: 80px;  
  }

  .sub-sidebar-area {
    width: 200px;  
    flex-grow: 0;  
  }
  
  .right-sides {
    width: 100%;  
    min-height: auto; 
    padding: 16px; 
  }
  
  .booking-dispatch-container {
    flex-direction: column;
  }
  .booking-section,
  .dispatch-section {
    flex: 1 1 100%;
    min-width: 100%;
  }
}