.App {
  text-align: center;
}
.sideheader{
  display: flex;
  flex-direction: row;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dispatch-dashboard-main{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.app-layouts {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

/* LEFT SIDE (Sidebar + SubSidebar) */
.left-sides {
  display: flex;
  flex-direction: column;
}

/* RIGHT SIDE (Header + Dashboard) */
.right-sides {
  display: flex;
  flex-direction: column;
  width: 100%;     /* take full remaining width */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
