/* COLOR VARIABLES (from user input) */
:root {
  --primary-red: #A10020;
  --secondary-red: #BB0025;
  --primary-white: #E8E8E8;
  --secondary-white: #FFFFFF;
  --primary-black: #000000;
  --secondary-black: #1D1D28;
  --secondary-blue: #272736;
  --secondary-gray: #CDCDCD;
  --primary-gray:#EAEAEA;
  --touch-gray:#9F9F9F;
  --primary-green: #1B880D;
  --primary-yellow: #EA9800;
}

 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-gray);  
}

 
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 
header {
  height: 80px;  
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--secondary-white);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 10px;
}

 
.app-layouts {
  display: flex;
  flex: 1; 
  width: 100%;
  overflow-x: hidden; 
}

 
.left-sides {
  display: flex;  
  width: 17%; 
  flex-shrink: 0;  
  background: var(--secondary-white);
  
 
  position: sticky; 
  top: 80px;  
  height: calc(100vh - 80px); 
  overflow-y: auto; 
}

 
.main-sidebar-area {
  width: 40%;  
  flex-shrink: 0;
  border-right: 1px solid var(--primary-gray);
}

.sub-sidebar-area {
  width:60%;
  flex-grow: 1;  
  flex-shrink: 0;
}


 
.right-sides {
  width: 70%;  
  display: flex;
  flex-direction: column;
  flex: 1; 
   
  min-height: calc(100vh - 80px); 
  padding: 24px  14px; 
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--primary-gray);  
}
 
.booking-dispatch-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.booking-section,
.dispatch-section {
  border-radius: 10px;
  flex: 1 1 48%;
  min-width: 400px;
  padding: 15px;
}

 
@media (max-width: 1200px) {
  .app-layouts {
    flex-direction: column;
  }
  
  .left-sides {
    position: relative;  
    top: 0;
    width: 100%; 
    height: auto;  
    overflow-x: auto;  
    border-bottom: 1px solid var(--primary-gray);
  }

  
  .main-sidebar-area {
    width: 80px;  
  }

  .sub-sidebar-area {
    width: 200px;  
    flex-grow: 0;  
  }
  
  .right-sides {
    width: 100%;  
    min-height: auto; 
    padding: 16px; 
  }
  
  .booking-dispatch-container {
    flex-direction: column;
  }
  .booking-section,
  .dispatch-section {
    flex: 1 1 100%;
    min-width: 100%;
  }
}