.AccountsDashboard {
  width: 100%;
  background-color: var(--primary-gray);
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  gap: 10;
   height: 50px;
   width: 100%;
  padding: 0;
  margin: 0;
}

.links button {
 
  background-color: var(--primary-gray);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-red);
  border: none;
}

.links button:last-child {
  border-right: none;
}

.links button.active {
  color:  black;
  font-weight: 600;
  
}

/* .links button.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #c41e3a;
} */

/* .tabContent {
  min-height: calc(100vh - 60px);
} */

 